{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
{% include 'keycheck/navbar.html' %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
		{% block content%}
		{% endblock%}
		</div>
		<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">How To print public key</div>
			<div class="panel-body">
				<p>Type in a terminal: <code>gpg --export --armor "&lt;email address&gt;"</code> or <code>gpg --export --armor "&lt;key id&gt;"</code>.</p>
			</div>
		</div>
		</div>
	</div>
</div>
</body>
</html>
