{% extends "keycheck/base.html" %}
{% block content %}
{% if errmsg %}
<div class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
	{{ errmsg }}
</div>
{% endif %}
{% if not keymail %}
	<h3>Your Addresses</h3>
	<table class="table">
		<tr>
			<th>Your Email Addresses</th>
			<th>Uploaded Keys</th>
		</tr>
		{% for m in mail %}
		<tr>
			<td><a href="mailto:{{ m }}">{{ m }}</a></td>
			<td>
				<ul>
				{% for g in m.gpgkey.all %}
				<li>{{ g }}</li>
				{% endfor %}
				</ul>
			</td>
		</tr>
		{% endfor %}
	</table>

	<h3>Add GPG Key</h3>
	<form method="POST" action="#">
		{{ form.non_field_errors }}
		{% csrf_token %}
		<div class="form-group">
			{{ form.keydata.errors }}
			<label for="{{form.keydata.id_for_label}}">GPG Public Key</label>
			{{ form.keydata }}
		</div>
		<button type="submit" class="btn btn-default">Add Key</button>
	</form>
{% else %}
	<p>User Mails: {{ mail }}</p>
	<p>Key Mails: {{ keymail }}</p>
{% endif %}
{% endblock %}
